body {
    margin: 0;
    background-color: gainsboro;
}

h1 {
    color: red;
}

img {
    width: 500px;
    height: 400px;
    border: 5px solid steelblue;
    border-radius: 25px;
}

p {
    color: darkblue;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: darkorange;
    background-color: black;
    padding: 5px 10px;
    border: 2px solid red;
}

a:hover {
    color: white;
    border-color: turquoise;
    background-color: navy;
}

ul,
ol {
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    text-align: left;
    color: white;
}

table td,
table th {
    padding: 5px 10px;
    border: 1px solid black;
}

thead tr {
    background-color: darkslategrey;
}

tbody tr:nth-child(even) {
    background-color: darkgray;
}

tbody tr:nth-child(odd) {
    background-color: white;
}